@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bar {
  /* border: 1px solid red; */
  position: sticky;
  top: 0px;
}

.bar-bar-bar {
  /* margin-right: 450px; */
}

.headings {
  font-size: 40px;
  color: black;
}

.test {
  border: 1px solid red;
}

.testy {
  height: 3000px;
}

.bar-up {
  /* position: sticky;
  top: 0px; */
}

.nav-mask-show {
  -webkit-mask-image: linear-gradient(black 99%, transparent);
  mask-image: linear-gradient(black 99%, transparent);
  mask-position: 0 0px;

}
.nav-mask-hide {
  -webkit-mask-image: linear-gradient(black 50%, transparent);
  mask-image: linear-gradient(black 50%, transparent);
  mask-position: 0 -50vh;  
}

.nav-trans {
  transition: all 0.25s;
  mask-repeat: no-repeat;
}

.inter-love {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.nav-link:hover {
  color: #CB7AE0 !important;
}

.nav-link {
  font-size: 32px !important;
  font-weight: 300;
  color: rgba(255, 255, 255, 255) !important;
  /* -webkit-text-stroke: 0.2px #CB7AE0; */
  text-shadow:
    -0.5px -0.5px 0 #CB7AE0,
     0   -0.5px 0 #CB7AE0,
     0.5px -0.5px 0 #CB7AE0,
     0.5px  0   0 #CB7AE0,
     0.5px  0.5px 0 #CB7AE0,
     0    0.5px 0 #CB7AE0,
    -0.5px  0.5px 0 #CB7AE0,
    -0.5px  0   0 #CB7AE0;
}

.highlight, .nav-link:focus  {
  color: #CB7AE0 !important;
  -webkit-text-fill-color: #CB7AE0;

}

.inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.bread {
  width: fit-content;
  margin-bottom: -5px;
}

.breadlet {
  color: #767676;
}

.unbutton {
  border: none;
  background-color: transparent;
  margin: 0;
}

ul {
  width: fit-content;
  list-style-type: none;
  /* border: 1px solid red; */

}
li {
  /* border: 1px solid red; */
  width: fit-content;
  margin-left: -32px;
}
li:not(:last-child) {
  margin-bottom: 0px; 
}

.crumbs {
  display: inline-block;
  width: 100%;
}

.jetbrains-mono-yuh {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.istok-web-regular {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pillcolor {
  background-color: #A09F9F !important
}

.grey-tag {
  background-color:#A09F9F;
  border-radius:20px;
  height:25px;
  width:fit-content;
  font-size:16px;
  color:white;
  padding:0 10px 10px 10px;
}

.purpify {
  background-color:#CB7AE0;
  height:32px;
  padding:3px 10px;
}
.purple {
  background-color:#CB7AE0;
}
.purple-lite {
  background-color:#DB96F3;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.filter-button {
  color: #DB96F3;
  transition: all 0.25s;
}

.filter-buttoHov {
  color: white;
  background-color: #DB96F3;
  transform: rotate(45deg);
}

.filter-button:hover {
  color: white;
  background-color: #DB96F3;
  transform: scale(1.1);
}

.filter-buttonV2 {
  color: white;
  transition: all 0.25s;
}

.filter-buttonV2:hover {
  background-color: #DB96F3;
  transform: scale(1.1) rotate(45deg);
  transition: all 0.25s;
}

input:focus {
  outline: none;
}

input {
  border: none;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #EEDCF1;
}

.input-sizing-color {
  height: 35px;
  width: 25px;
  transition: width 0.1s ease-out;
}

input::placeholder {
  color: #725976;
  font-size: 16px;
  font-style: italic;
}

.no {
  visibility:hidden;
}

.garuda-showdown {
  width: 188px;
}

.fontista {
  font-kerning: normal;
  font-variant-numeric: tabular-nums;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.tag-on {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin: 0 5px;
}

.results {
  width: 188px;
  height: 40px;
  text-align: left;
  background-color: white;
  border: 1px solid #E4E4E4;
}

.results:hover {
  background-color: #E4E4E4;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.graphics {
  position: relative;
  /* height: 1200px; */
  background-image: url("assets/vintage-pink-and-cream-dark-floral-plain-820x532\ 3.png");
}

.special-border {
  border: 1px solid white;
}

.modal-button {
  padding: 0;
  position: absolute;
  top: 40px;
  right: -15px;
  border-radius: 15px;
  background-color: #CB7AE0;
  width: 40px !important;
  height: 40px;
}

.modal-div {
  position: sticky;
  top: 50px;
  left: 95vw;
  z-index: 10;
  /* padding: 0; */
  width: fit-content !important;
  height: fit-content !important;
  /* overflow: hidden; */
}

.modal-contents {
  position: absolute;
  top: 35px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  border: 1px solid black;
  /* height: fit-content; */
}

.animatronics {
  visibility: visible;
  transform: translateX(-200px);
  transition: all 0.25s;
}
.animations {
  transition: all 0.25s;
}
.testColor {
  /* border: 2px solid #f4b7d4; */
}
.no-more-display {
  transition: all 0.25s;
  transform: translateX(100px);
  visibility: hidden;
}

.basic-modal {
  position: relative;
  border: 1px solid red;
}

.modal-close-button {
  position: absolute;
  top: 5px;
  left: -30px;
}

.modal-close-shape {
  width: 30px;
  height: 60px;
  padding: 0;
  border-radius: 10px 0 0 10px;
  /* border: 1px solid black; */
  /* border-right-color: white; */
  background-color: #DB96F3;
}

.clear:hover {
  /* color: rgb(255, 142, 142); */
  transform: scale(1.1);
  transition: all 0.05s ease-in-out;
}

.glass-pane {
  background-color: #eaeaeae2;
}

.fonty-smallest {
  font-size: 16px;
}
.fonty-good-size {
  font-size: 24px !important;
}
.fonty-large {
  font-size: 32px;
}

.wrap-text {
  float:left;
  max-width: 100%;
  height: auto;
}

.black-diamonds {
  font-size: 10px;
  vertical-align:middle;
}

.menu-small-seriousness {
  fill: #CB7AE0 !important;
  transform: scale(1.1);
}

.menu-small {
  transition: all 0.15s;
}

.menu-small:hover {
  fill: #DB96F3;
  transform: scale(1.1);
}

.showcase-modal-prime {
  /* min-width: 90%; */
  /* max-height: 10vh; */
  background-color: rgba(255, 0, 0, 0);
  min-width: min(90vw, 900px);

  /* min-width: 820px; */
  /* display: flex; */
  /* align-self: center; */
  /* min-width: 90%; */
  /* max-width: 820px; */


}
.actually {
  /* width: 1820px; */
  /* margin-top: -10px;
  margin-bottom: -10px; */
}

.modal-image {
  width: 100%;
  height: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  /* max-width: 820px; */
  /* max-height: 100vh; */
  /* margin-left: auto; */
}

.up-arrow {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  rotate: 180deg;
  opacity: 0; 
  /* fill: #CB7AE0;  */
}

.down-arrow {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  opacity: 0;  
  /* fill: #CB7AE0;  */

}
.expand-animation {
  transition: all 0.20s ease-in;
}

.expand-anima-up {
  opacity: 1;  
  transform: translateX(-1rem) translateY(1rem);
}

.expand-anima-down {
  opacity: 1;  
  transform: translateX(-1rem) translateY(1rem);
}

.robert:hover {
  /* background-color: red; */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.08), transparent);
}

.roberta:hover {
  /* background-color: red; */
  background: linear-gradient(to left, rgba(0, 0, 0, 0.08), transparent);
}
.expansionist {
  transition: transform 0.15s;
}
.expansionist:hover {
  transform: scale(1.1);
}

.nav-down {
  transform: translateY(6rem);
}

.nav-down-animation {
  transition: transform 0.15s;
}

.test-block {
  background-color: red;
}